<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="demo">
        <h1>CSS “Always on the bottom” Footer</h1>
    
        <p>I often find myself designing a website .</p>
    
        <p>However, if the content is taller than the user’s viewp.</p>
    </div>
    
    <div class="footer">This will always appear at the bottom of the page, but <strong>not fixed</strong>.</div>
</body>
</html>